<%= turbo_stream_from 'messages' %>

<div class="messages-index">
  <%= turbo_frame_tag 'messages', class: 'messages-index-body', 'data-controller': 'messages' do %>
    <%= render partial: 'message', collection: @messages %>
  <% end %>
  <%= turbo_frame_tag Message.new, class: 'messages-index__footer' do %>
    <div class="messages-index__footer">
      <%= link_to 'メッセージを作成', new_message_path, class: 'messages-index__footer-link' %>
    </div>
  <% end %>
</div>
